body {
    background-image: url(./Images/Duck.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    color: rgb(219, 57, 187);
    font-family: monospace;
    background-color: rgba(244, 244, 244, 0.8);
    text-align: center;
    margin: 100px;
}