* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

}

html {
    font-family: ;
}

header {
    background-color: aqua;
}

header nav {
    text-align: right;
    position: fixed;
    top 0;
    width: 100vw;
    background-color: aqua;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

#first_section {
    height: 100vh;
    background-color: brown;
}

#second_section {
    height: 100vh;
    background-color: chocolate;
}

#third_section {
    height: 100vh;
    background color: pink;
}

.wrapper_sticky {
    width: 100px;
    height: 50px;
    background-color: chartreuse;
    position: sticky;
} 

#third_section {
    height: 100vh;
    position: relative;
    background-color: pink;
}

.box_1 {
    background-color: aqua;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 300px;
}

.box_2 {
    position: absolute;
    background: color;
    width: 50px;
    height: 50px;
    left: 30%;
    bottom: 30%;
}