/* - In dieser Aufgabe sollst du dir die Hintergrundeigenschaften genauer anschauen. 
Wie kann man background-images vertikal oder horizontal wiederholen oder an eine 
bestimmte Stelle positionieren? Übernehme dazu das HTML und wende Folgendes an:
- Die <section> soll ein Hintergrundbild erhalten, welches sich an die Höhe der 
<section> anpasst und horizontal wiederholt wird. Nutze [dieses Bild]
(https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80).
- Der <article> erhält ebenfalls ein Hintergrund, welches sich auch an die 
Größe des Elements anpasst, aber nur auf der rechten Seite angezeigt wird. Nutze [dieses Bild](https://images.unsplash.com/photo-1603398749947-87246022fbf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80). */

section {
    text-align: center;
    color: white;
    background-image: url(./Images/Hintergrund_1.jpeg);
    background-repeat: repeat;
    background-size: contain;
}

article {
    background-image: url(./Images/Hintergrund_2.jpeg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}